@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FFF;
  color: #111;
}

@layer components {
  .buttons-outline {
    @apply outline-none focus:outline-2 focus:outline-offset-2 focus:outline-[#009AF1]
  }
}
